extends layout

block content
    p Game: #{session.game.name} 
    p Language: #{session.language}
    p Host: #{session.host.name}
    p Date and time: #{moment(session.datetime).format('MMMM Do YYYY, h:mm a')}
    p Location: #{session.location}
    p Players:
    ul
    each player in session.players
        li #{player.name}
    if session.datetime < moment()
        p Game session past
    else if session.minPlayersMet == false 
        p Not enough players. Invite your friends!
    else if session.minPlayersMet == true && session.players.length == session.game.maxPlayers
        p Ready to play!
        p(style={color: 'red'}) Game session is full.
    else  
        p Ready to play!