extends layout

block content
    h1 The number of total game sessions is #{sessions.length}
    each session in sessions
        p Game: #{session.game.name} 
        p Language: #{session.language}
        //- p Hosted by: #{session.host.name}
        p Date and time: #{moment(session.datetime).format('MMMM Do YYYY, h:mm a')}
        p Location: #{session.location}
        p id: #{session.id}
        br
